<!doctype html>
<html lang="en" ng-app = "myApp" ng-controller="PhoneListCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
</head>
<body>
 Search: <input ng-model="query">
Sort by:
<select ng-model="order">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>
<p>{{orderProp}}</p>

<ul class="phones">
  <li ng-repeat="phone in phones | filter:query | orderBy:order">
    {{phone.name}}
    <p>{{phone.snippet}}</p>
  </li>
</ul> 
</body>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="js/controller.js"></script>
</html>